:root {
  --red: hsl(7, 93%, 60%);
  --softred: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --yellow2: hsla(51, 100%, 49%, 0.377);
  --darkdesaturatedcyan: hsl(167, 40%, 24%);
  --darkblue: hsl(198, 62%, 26%);
  --darkmoderatecyan: hsl(168, 34%, 41%);
  --darkmoderatecyan2: hsla(167, 31%, 41%, 0.555);
  --verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --verydarkgrayishblue: hsl(213, 9%, 39%);
  --darkgrayishblue: hsl(232, 10%, 55%);
  --grayishblue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --frau: "Fraunces", sans-serif;
  --bar: "Barlow", sans-serif;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
}

.primary-heading {
  font-size: 6.4rem;
  font-weight: 800;
  color: var(--white);
  font-family: var(--frau);
  margin-bottom: 10rem;
  letter-spacing: 10px;
}

.secondary-heading {
  font-size: 6.4rem;
  font-weight: 800;
  font-family: var(--frau);
  margin-bottom: 4rem;
  color: var(--verydarkdesaturatedblue);
}

.tertiary-heading {
  margin-top: 40%;
  text-align: center;
  font-size: 4rem;
  color: var(--darkdesaturatedcyan);
  margin-bottom: 3rem;
  font-family: var(--frau);
}

.fourth-heading {
  text-align: center;
  color: var(--grayishblue);
  font-family: var(--frau);
  font-size: 2.8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.bg {
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;
  margin-bottom: 12rem;
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  color: var(--white);
  padding: 1rem 2rem;
}
.nav__link--white:link, .nav__link--white:visited {
  font-size: 1.4rem;
  font-family: "Fraunces", sans-serif;
  background-color: var(--white);
  color: var(--verydarkdesaturatedblue) !important;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 100px;
}
.nav__link--white:link:hover, .nav__link--white:link:active, .nav__link--white:visited:hover, .nav__link--white:visited:active {
  background-color: rgba(131, 255, 255, 0.233);
  color: var(--white) !important;
}

.hero {
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.products__block {
  padding: 15rem 15rem 5rem 15rem;
  height: 75vh;
}
.products__block--1, .products__block--2, .products__block--3, .products__block--4, .products__block--5, .products__block--6 {
  background-size: cover;
  background-position: center;
}
.products__block--2 {
  background-image: url(/images/desktop/image-transform.jpg);
}
.products__block--3 {
  background-image: url(/images/desktop/image-stand-out.jpg);
}
.products__block--5 {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  text-align: center;
  color: var(--darkmoderatecyan);
}
.products__block--6 {
  background-image: url(/images/desktop/image-photography.jpg);
  text-align: center;
  color: var(--darkmoderatecyan);
}
.products__description {
  font-size: 2.6rem;
  line-height: 1.4;
  color: var(--verydarkgrayishblue);
  margin-bottom: 4rem;
}
.products__description--2 {
  font-size: 2rem;
}
.products__link:link, .products__link:visited {
  font-family: var(--frau);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
  color: var(--verydarkdesaturatedblue);
}
.products__link:link::after, .products__link:visited::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 12px;
  border-radius: 10px;
  z-index: -1;
  transform: scaleX(1);
}
.products__link--yellow:link::after {
  background-color: var(--yellow2);
}
.products__link--yellow:link:hover::after {
  background-color: var(--yellow);
  transition: all 0.3s;
}
.products__link--red:link::after {
  background-color: var(--softred); /* Color of the underline */
}
.products__link--red:link:hover::after {
  background-color: var(--red);
  transition: all 0.3s;
}

.testimonials {
  padding: 16rem 0;
  max-width: 160rem;
  margin: 0 auto;
}
.testimonials__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.testimonial {
  text-align: center;
  line-height: 1.6;
}
.testimonial__img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin-bottom: 4rem;
}
.testimonial__quote {
  font-size: 2.4rem;
  color: var(--verydarkgrayishblue);
  margin-bottom: 4rem;
}
.testimonial__author {
  font-family: var(--frau);
  font-weight: 700;
  font-size: 2rem;
}
.testimonial__job {
  font-weight: 500;
  color: var(--grayishblue);
}

.gallery {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  overflow: hidden;
}
.gallery img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(94, 161, 156);
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__links {
  display: flex;
  gap: 4rem;
  margin-bottom: 7rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: var(--darkdesaturatedcyan);
  transition: all 0.3s;
}
.footer__link:link:hover, .footer__link:link:active, .footer__link:visited:hover, .footer__link:visited:active {
  color: var(--white);
}
.footer__icons {
  display: flex;
  gap: 3rem;
}
.footer__img {
  transition: all 0.3s;
}
.footer__img:hover {
  filter: brightness(0) invert(1);
}

@media only screen and (max-width: 100em) {
  html {
    font-size: 55%;
  }
  .primary-heading {
    font-size: 4rem;
  }
  .secondary-heading {
    font-size: 4rem;
  }
  .tertiary-heading {
    font-size: 3rem;
    margin-top: 60%;
  }
  .products__description {
    font-size: 2rem;
  }
  .products__link:link {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 60em) {
  .tertiary-heading {
    font-size: 3rem;
    margin-top: 90%;
  }
  .products__block {
    padding: 15rem 10rem 5rem 10rem;
    height: 50vh;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 45%;
  }
  .tertiary-heading {
    font-size: 3rem;
    margin-top: 60%;
  }
  .products__block {
    padding: 10rem 5rem 5rem 5rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .gallery picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media only screen and (max-width: 48em) and (max-width: 38em) {
  html {
    font-size: 55%;
  }
  .products {
    grid-template-columns: 1fr;
  }
  .products__block {
    text-align: center;
    padding: 10rem 10rem 5rem 10rem;
  }
  .products__block--1 {
    grid-row: 2;
  }
  .products__block--2 {
    grid-row: 1;
  }
  .products__block--3 {
    grid-row: 3;
  }
  .products__block--4 {
    grid-row: 4;
  }
  .products__block--5 {
    grid-row: 5;
  }
  .tertiary-heading {
    margin-top: 30%;
  }
  .testimonials__block {
    flex-direction: column;
    gap: 7rem;
  }
  .testimonial {
    max-width: 50rem;
  }
}