:root {
  // ### Primary
  --red: hsl(7, 93%, 60%);
  --softred: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --yellow2: hsla(51, 100%, 49%, 0.377);
  --darkdesaturatedcyan: hsl(167, 40%, 24%); //(graphic design text)
  --darkblue: hsl(198, 62%, 26%); //(photography text)
  --darkmoderatecyan: hsl(168, 34%, 41%); //(footer)
  --darkmoderatecyan2: hsla(167, 31%, 41%, 0.555); //(footer)

  //### Neutral

  --verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --verydarkgrayishblue: hsl(213, 9%, 39%);
  --darkgrayishblue: hsl(232, 10%, 55%);
  --grayishblue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --frau: "Fraunces", sans-serif;
  --bar: "Barlow", sans-serif;
}

// ### Font

// - Family: [Barlow](https://fonts.google.com/specimen/Barlow)
// - Weights: 600
// - Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
// - Weights: 700, 900

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
}

//SECTION REUSABLE

.primary-heading {
  font-size: 6.4rem;
  font-weight: 800;
  color: var(--white);
  font-family: var(--frau);
  margin-bottom: 10rem;
  letter-spacing: 10px;
}

.secondary-heading {
  font-size: 6.4rem;
  font-weight: 800;
  font-family: var(--frau);
  margin-bottom: 4rem;
  color: var(--verydarkdesaturatedblue);
}

.tertiary-heading {
  margin-top: 40%;
  text-align: center;
  font-size: 4rem;
  color: var(--darkdesaturatedcyan);
  margin-bottom: 3rem;
  font-family: var(--frau);
}

.fourth-heading {
  text-align: center;
  color: var(--grayishblue);
  font-family: var(--frau);
  font-size: 2.8rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.bg {
  background-image: url("/images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

//SECTION NAV
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;
  margin-bottom: 12rem;
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--white);
    padding: 1rem 2rem;
  }

  &__link--white:link,
  &__link--white:visited {
    font-size: 1.4rem;
    font-family: "Fraunces", sans-serif;
    background-color: var(--white);
    color: var(--verydarkdesaturatedblue) !important;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 100px;
    &:hover,
    &:active {
      background-color: rgba(131, 255, 255, 0.233);
      color: var(--white) !important;
    }
  }
}

//SECTION HERO
.hero {
  text-align: center;
}

//SECTION PRODUCTS

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  &__block {
    padding: 15rem 15rem 5rem 15rem;
    height: 75vh;

    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6 {
      background-size: cover;
      background-position: center;
    }

    &--2 {
      background-image: url(/images/desktop/image-transform.jpg);
    }

    &--3 {
      background-image: url(/images/desktop/image-stand-out.jpg);
    }

    &--5 {
      background-image: url(/images/desktop/image-graphic-design.jpg);
      text-align: center;
      color: var(--darkmoderatecyan);
    }

    &--6 {
      background-image: url(/images/desktop/image-photography.jpg);
      text-align: center;
      color: var(--darkmoderatecyan);
    }
  }

  &__description {
    font-size: 2.6rem;
    line-height: 1.4;
    color: var(--verydarkgrayishblue);
    margin-bottom: 4rem;

    &--2 {
      font-size: 2rem;
    }
  }

  &__link:link,
  &__link:visited {
    font-family: var(--frau);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
    color: var(--verydarkdesaturatedblue);
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 12px;
      border-radius: 10px;
      z-index: -1;
      transform: scaleX(1);
    }
  }

  &__link--yellow:link {
    &::after {
      background-color: var(--yellow2);
    }

    &:hover::after {
      background-color: var(--yellow);
      transition: all 0.3s;
    }
  }

  &__link--red:link {
    &::after {
      background-color: var(--softred); /* Color of the underline */
    }

    &:hover::after {
      background-color: var(--red);
      transition: all 0.3s;
    }
  }
}

//SECTION TESTIMONIALS
.testimonials {
  padding: 16rem 0;
  max-width: 160rem;
  margin: 0 auto;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}

.testimonial {
  text-align: center;
  line-height: 1.6;

  &__img {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-bottom: 4rem;
  }

  &__quote {
    font-size: 2.4rem;
    color: var(--verydarkgrayishblue);
    margin-bottom: 4rem;
  }

  &__author {
    font-family: var(--frau);
    font-weight: 700;
    font-size: 2rem;
  }

  &__job {
    font-weight: 500;
    color: var(--grayishblue);
  }
}

//SECTION GALLERY

.gallery {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

//SECTION FOOTER
.footer {
  padding: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(94, 161, 156);
  &__logo {
    margin-bottom: 2rem;
  }

  &__links {
    display: flex;
    gap: 4rem;
    margin-bottom: 7rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--darkdesaturatedcyan);
    transition: all 0.3s;
    &:hover,
    &:active {
      color: var(--white);
    }
  }

  &__icons {
    display: flex;
    gap: 3rem;
  }

  &__img {
    transition: all 0.3s;
  }

  &__img:hover {
    filter: brightness(0) invert(1);
  }
}
